 
@media (min-width:1000px){
    .itens-beneficios{
        margin-top: 110px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }
}
@media (max-width:1000px){
    .itens-beneficios{
        
       margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width: 100vw;
    }
}