 .clientes-2{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     justify-content: center;
 
 }
 .clientes-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.clientes-1-show{
    display: none;
}
.clientes-2-show{
    display: none;
}
.buttons{
    margin-top: 20px;
}
.buttons span{
    margin: 10px 3px;
}
.btn-1{
    color: #DADADA;
}
.title-clientes{
    font-family: Poppins;
    color: #303669;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom:65px ;
}